:root {
  --radius: 4px;
}

.colordiv {
  padding: var(--max-padding);
  position: relative;

  border-radius: var(--radius);
  overflow: hidden;
}

.colordiv::after {
  content: "X";
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  color: black;
  padding: 0.2rem;
  font-size: 0.8rem;
  max-width: 0.8rem;
  max-height: 0.8rem;
  cursor: pointer;
}
.container {
  display: flex;
  flex-wrap: wrap;
}
#colorlabel {
  border-radius: var(--radius);

  background-color: #ffffff;
  color: rgb(32, 3, 45);
  font-weight: 900;

  padding: 0 var(--max-padding);
  transition-property: transform, box-shadow;
  transition-duration: 0.5s;
  box-shadow: 0 0 10px white;
  transform: scale(1.001);
}
#colorlabel:hover,
#colorlabel:active {
  transform: scale(1.2);
}

#colorlabel:after {
  content: "+";
  font-size: 2.5rem;
}
.none {
  display: none;
}

#image-sect {
  text-align: center;
  padding: 0;
}

.radio-div input[type="radio"] {
  display: none;
}

.radio-div label,
button {
  display: block;
  transition: all 0.5s;
  padding: var(--max-padding);
  color: white;
  border-radius: var(--radius);
}
.radio-div input[type="radio"]:not(:checked) + label,
button,
a {
  background-color: rgb(43, 5, 87);
}

.radio-div input[type="radio"]:checked + label,
.radio-div input[type="radio"]:not(:checked) + label:hover,
button:active,
a:hover,
a:active {
  background-color: rgb(123, 0, 255);
}
a {
  border-radius: var(--radius);
  box-shadow: inset 0 0 15px rgb(255, 255, 255);
}
