.colordiv {
  padding: 1rem;
  position: relative;
}

.colordiv::after {
  content: "X";
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  color: black;
  padding: 0.2rem;
  font-size: 0.8rem;
  max-width: 0.8rem;
  max-height: 0.8rem;
  cursor: pointer;
}
.container {
  display: flex;
  flex-wrap: wrap;
}
#colorlabel {
  background-color: #f1f1f1;
  color: black;
  padding: 0 2rem;
}

#colorlabel:after {
  content: "+";
  font-size: 2.5rem;
}
.none {
  display: none;
}
section {
  padding: 1rem;
}
#image-sect {
  text-align: center;
  padding: 0;
}

.radio-div input[type="radio"],
.radio-div input[type="checkbox"] {
  display: none;
}

.radio-div label,
button {
  display: block;
  transition: all 0.5s;
  padding: 1rem;
  color: black;
}
.radio-div input[type="radio"]:checked + label,
.radio-div input[type="checkbox"]:checked + label,
button:hover {
  background-color: blue;
  color: white;
}

.radio-div input[type="radio"]:not(:checked) + label,
.radio-div input[type="checkbox"]:not(:checked) + label,
button {
  background-color: aliceblue;
}
