ul {
  font-family: monospace;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.colordiv {
  padding: 1rem;
  position: relative;
}

.colordiv::after {
  font-family: sans-serif;
  content: "X";
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  color: black;
  padding: 0.2rem;
  font-size: 0.8rem;
  max-width: 0.8rem;
  max-height: 0.8rem;
  cursor: pointer;
}
.container {
  display: flex;
  flex-wrap: wrap;
}
#colorlabel {
  background-color: #f1f1f1;
  color: black;
  padding: 0 2rem;
}

#colorlabel:after {
  content: "+";
  font-size: 2.5rem;
}
.none {
  display: none;
}

body {
  padding: 0;
  margin: 0;
}
div {
  text-align: center;
}

img {
  inline-size: 95%;
  block-size: 95%;
  display: inline-block;
}
.radio-div input[type="radio"],
.radio-div input[type="checkbox"] {
  display: none;
}

.radio-div label {
  display: block;
  transition: all 0.5s;
  padding: 1rem;
  color: black;
}
.radio-div input[type="radio"]:checked + label,
.radio-div input[type="checkbox"]:checked + label {
  background-color: blue;
}

.radio-div input[type="radio"]:not(:checked) + label,
.radio-div input[type="checkbox"]:not(:checked) + label {
  background-color: aliceblue;
}