div {
  font-size: 3rem;
  font-weight: 900;
  font-family: sans-serif;

  padding: 1rem;

  background-color: bisque;
  /* width: fit-content; */
  background: linear-gradient(90deg, #ed6060, #b260ed, #607eed, #60d1ed);
}
header {
  position: fixed;
  width: 100%;
  z-index: 10;
}
