/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

:root {
  --max-padding: 1rem;
}
* {
  transition: all 0.5s;
}

/* THIS FILE IS JUST FOR EXAMPLES, DELETE IT IF YOU DON'T NEED IT */

/* SHELL ---------------------------------------- */

body {
  background-color: #1c1c1c;
  background: url("/background.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  padding: 0;
  margin: 0;
  padding: var(--max-padding);
}
.logo {
  font-size: 3rem;
  font-weight: 900;
  font-family: sans-serif;

  padding: var(--max-padding);

  background-color: rgb(3, 2, 0);

  background: linear-gradient(90deg, #ed6060, #b260ed, #607eed, #60d1ed);
}
@media (max-width: 300px) {
  :root {
    --max-padding: 0.5rem;
  }
  .logo,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span,
  button,
  a,
  label {
    word-break: break-all;
  }
}

a {
  text-decoration: none;
  color: #ffffff;
  padding: var(--max-padding);
  background-color: rgba(0, 0, 255, 0.115);
  transition: background-color 0.5s;
}

ul {
  font-family: monospace;
  display: flex;
  padding: 0;
  flex-wrap: wrap;
  list-style: none;
  gap: 0.1rem;
}

img {
  inline-size: 100%;
  block-size: 100%;
  display: inline-block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1.5rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #f7f7f8;
  font-weight: 800;
}
button {
  outline: none;
  border: none;
}
button,
label,
span,
p,
a {
  font-size: 1.1rem;

  font-family: monospace, sans-serif;
}
